//변수처리

//site width
$siteWidth: 1320px;

//text size
$fontSizeSmall: 12px;
$fontSizeSmallL: 14px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

//color

//background color
$layoutBg: #f9f9f9;

//font color
$fontColorBasic: #666666;
$fontColorPrimary: #aba000;
$fontColorHover: #d5d193;

//border color
$borderColorPrimary: #d5d193;
$borderColorDark: #99900e;

//button color
$gbtnColor: #aba000;
$gbtnColorHover: #d5d193;

// table color
$tableColorPrimary: rgba(171, 160, 0, 0.7);
$tableColorRight: rgba(171, 160, 0, 0.2)
